body{
    margin: 0;
    padding: 0;
    background: url(background.jpg);
}
nav{
    width: 100%;
    background:rgb(255, 255, 255);
    overflow: auto;
    padding: 5px;
}
.nav-items{
    margin: 0 0 0 720px;
    list-style: none;
    text-decoration: none;
}
li{
    float: left;
}
.logo img{
    position: absolute; 
    height: 75px;  
    margin-left: 15px; 
}
nav a{
    width: 100%;
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    font-family: Arial;
    color: #000000;
    text-align: center;
}
nav a:hover{
    background: rgb(18, 179, 18);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
}
.box{
    width: 400px;
    padding: 40px;
    margin-left: 300px;
    margin-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 30px;
    border: 3px solid rgb(255, 255, 255);
}
.box h1{
    color: rgb(18, 179, 18);
    text-transform: uppercase;
    font-weight: 500;
    font-family: sans-serif;
}
.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    padding: 14px 10px;
    width: 260px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 340px;
    border-color: rgb(18, 179, 18);
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    padding: 14px 80px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    color: rgb(18, 179, 18);
}
.box input[type = "submit"]:hover{
    background: rgb(18, 179, 18);
    color: white;
}
